extends layout

block content
  h1= title
  p pvtKey1 #{key0.priv}
  p pubKey1 #{key0.pub}
  hr
  p pvtKey2 #{key1.priv}
  p pubKey2 #{key1.pub}
  hr
  p pvtKey3 #{key2.priv}
  p MasterpubKey #{key2.pub}
  p pubKey0 #{key2.pub0}
  p pubKey1 #{key2.pub1}
  hr
